@import '../../../styles/variables.scss';

.link {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding: 6px 15px;
  color: $color-black;
  &:not(:last-child) {
    margin-right: 30px;
  }
  &:hover {
    background: #fcddcf;
  }
}

.black {
  @extend .link;

  color: $color-white;
  &:hover {
    color: $color-black;
    background: $color-white;
  }
}

.green {
  @extend .link;

  &:hover {
    background: $color-white;
  }
}
