@import '../../../styles/variables.scss';

.link {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding: 6px 15px;
  color: $color-black;
  cursor: pointer;
  & + & {
    margin-left: 30px;
  }
}

.white {
  @extend .link;
}

.black {
  @extend .link;

  color: $color-white;
}

.green {
  @extend .link;
}

.pink {
  @extend .link;
}

.sub-link {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  color: $color-black;
  & + & {
    margin-top: 10px;
  }
  &:hover {
    text-decoration: underline;
  }
}

.container {
  position: relative;

  &:hover {
    & > .dropdown {
      display: block;
    }

    & > .link {
      color: $color-white;
      background: $color-black;
    }

    & > .white {
      color: $color-white;
      background: $color-black;
    }

    & > .black {
      color: $color-black;
      background: $color-white;
    }

    & > .green {
      color: $color-black;
      background: $color-white;
    }

    & > .pink {
      color: $color-black;
      background: $color-white;
    }
  }
}

.dropdown {
  display: none;
  position: absolute;
  padding-top: 5px;
}

.dropdown-inner {
  border: 5px solid $color-black;
  width: 200px;
  padding: 15px;
  background: $color-white;
}

.dropdown-inner-black {
  @extend .dropdown-inner;

  border: 5px solid $color-white;
}
