@import '../../styles/variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  width: 180px;
  height: 45px;
  cursor: pointer;
  outline: none;
  &:hover {
    opacity: 0.9;
  }
}

.black {
  @extend .button;

  color: $color-white;
  background: $color-black;
}

.orange {
  @extend .button;

  color: $color-black;
  background: rgba(246, 209, 111, 0.5);
}

.link {
  padding: 0;
  border: none;
  display: block;
  font-weight: bold;
  background: none;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  color: $color-black;
  outline: none;
  &:hover {
    text-decoration: underline;
  }
}
