@import '../../../styles/variables';

.lines {
  position: absolute;
  top: 100px;
  left: 7px;
  right: 0px;
  height: 30px;
  width: 100%;
  // background: repeating-linear-gradient(
  //   to right,
  //   transparent 0px,
  //   transparent 15px,
  //   $color-black 0px,
  //   $color-black 20px
  // );
  background: url('../../../images/line.svg') left repeat-x;
}

.timeline {
  width: 100%;
  height: 260px;
  margin-top: 90px;
  overflow: auto;
  position: relative;
}

.inner {
  position: absolute;
  display: flex;
}

.quarter-box {
  width: 260px;
  height: 260px;
  padding: 30px;
  background: rgba(254, 232, 254, 0.46);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:not(:last-child) {
    margin-right: 182px;
  }
}

.quarter-line {
  height: 60px;
  width: 5px;
  background: $color-black;
}

.quarter-content {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
