@import '../styles/variables';

.inner-container {
  margin: 0px auto;
  max-width: $container-width;
  width: 100%;
  padding: 0 15px;
}

.second-section {
  @extend .inner-container;
  margin-top: 250px;
  margin-bottom: 300px;
  color: $color-white;
}

.first-title {
  margin-left: 30px;

  @media (max-width: $breakpoint-sm) {
    margin-left: 0;
  }
}

.whitelist-button-container {
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
  }
}

.whitelist-button-ico {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 30px;

  @media (max-width: $breakpoint-sm) {
    margin-left: 0;
    margin-top: 15px;
  }
}

.ball-video {
  @media (max-width: $breakpoint-sm) {
    display: none;
  }
}

.mask {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  transition: background ease 0.4s;
}

.transparent-mask {
  @extend .mask;

  background: transparent;
}

.black-mask {
  @extend .mask;

  background: $color-black;
}

.centered-bloc {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
}

.background-image {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: $breakpoint-sm) {
    display: none;
  }
}

.why-blocs-row {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;

  margin-top: 150px;

  @media (max-width: $breakpoint-sm) {
    padding: 0px;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
}
