@import '../styles/variables';

.inner-container {
  margin: 0px auto;
  max-width: $container-width;
}

.first-section {
  @extend .inner-container;
  padding-bottom: 200px;
}

.second-section {
  @extend .inner-container;
  margin-top: 250px;
  margin-bottom: 300px;
  color: $color-white;
}

.third-section {
  margin-top: 400px;
  margin-bottom: 200px;
  position: relative;
}

.fourth-section {
  @extend .inner-container;

  margin-top: 300px;
}

.head-content {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.mask {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  transition: background ease 0.4s;
}

.transparent-mask {
  @extend .mask;

  background: transparent;
}

.black-mask {
  @extend .mask;

  background: $color-black;
}

.centered-bloc {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
}

.background-image {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
}

.why-blocs-row {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  margin-top: 150px;
}
