@import '../styles/variables';

.container {
  background: #fef4fe;

  @media (max-width: $breakpoint-sm) {
    padding-top: 60px;
  }
}

.description-container {
  display: flex;

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
  }
}

.description {
  flex: 1;
  text-align: justify;
  & + & {
    margin-left: 30px;

    @media (max-width: $breakpoint-sm) {
      margin-left: 0;
    }
  }
}

.team-box {
  flex-shrink: 0;
  width: 255px;
  position: relative;
  margin: 0 15px;

  @media (max-width: $breakpoint-sm) {
    margin-top: 50px;
  }
  &:hover {
    .team-member-description {
      opacity: 1;
    }
  }
}

.team-member-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.9);
  line-height: 1.25;
  opacity: 0;
  transition: opacity ease 0.1s;
}

.team-member-link {
  display: flex;
  align-items: center;
  & + & {
    margin-left: 8px;
  }
}

.team-background {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 255px;
  height: 330px;
}

.team-row {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  & + & {
    margin-top: 75px;

    @media (max-width: $breakpoint-sm) {
      margin-top: 0;
    }
  }
}

.partners {
  display: flex;
  & + & {
    margin-top: 80px;
  }
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  & + & {
    margin-left: 50px;
  }
}

.partner-image {
  display: flex;
  align-items: flex-end;
  height: 150px;
  > img {
    width: 150px;
  }
  margin-bottom: 30px;
}
