@import '../styles/variables';

.box {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 5px solid $color-black;
  flex-shrink: 0;
  background: url('../images/pattern.png') center repeat;
  background-size: 60px;
}

.line {
  width: 100px;
  height: 10px;
  background: $color-black;
  margin-top: 60px;
}

.horizontal-container {
  display: flex;
  margin-bottom: 15px;
}

.horizontal-text {
  margin-left: 30px;
}

.blue-background {
  position: absolute;
  top: -30px;
  left: 0px;
  width: 525px;
  height: 348px;
  background: #e9faff;
}

.background-image {
  position: absolute;
  bottom: -80%;
  right: 0;
  bottom: -560px;
  right: -300px;
  animation: rotate linear infinite 300s;
}

.triangle-background {
  position: absolute;
  top: 15px;
  left: -20px;
  width: 300px;
  height: 486px;
  background: linear-gradient(
    to bottom right,
    $color-white 0%,
    $color-white 50%,
    #fef4fe 50%,
    #fef4fe 100%
  );
}

.terminal {
  position: absolute;
  top: 50px;
  left: 30px;
  background: $color-black;
  width: 550px;
  height: 250px;
  color: $color-white;
  padding: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  & > div:not(:first-child) {
    margin-left: 30px;
  }
}

.terminal-window {
  width: 550px;
  height: 360px;
  background: #ebf4ec;
  padding: 15px;
  display: flex;
}

.terminal-window-circle {
  background: $color-white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  & + & {
    margin-left: 15px;
  }
}

.techno-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  & > img {
    margin-left: 30px;
  }
}

.tag-rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 60px;
  color: $color-white;
  background: $color-black;
  border: 5px solid $color-black;
  & + & {
    margin-left: 15px;
  }
}

.tag-rectangle-white {
  @extend .tag-rectangle;

  color: $color-black;
  background: $color-white;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
