@import '../../styles/variables.scss';

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: $color-white;
  color: $color-black;
  transition: background ease 0.4s;
}

.black {
  @extend .header;

  background: $color-black;
  color: $color-white;
}

.green {
  @extend .header;

  background: #ebf4ec;
}

.container {
  max-width: $container-width;
  display: flex;
  margin: 0 auto;
  padding: 15px;
}

.links {
  display: flex;
  margin-left: auto;
}

.logo {
  display: flex;
}
