@import '../../styles/variables.scss';

.header {
  position: sticky;
  top: 0;
  background: $color-white;
  display: flex;
  margin: 15px auto;
  max-width: $container-width;
  padding: 15px;
}

.links {
  display: flex;
  margin-left: auto;
}
