@import '../../styles/variables.scss';

.section {
  display: flex;
  height: 100vh;
  min-height: 650px;
}

.section-container {
  @extend .section;

  margin: 0px auto;
  max-width: $container-width;
}
