@import '../../styles/variables.scss';

.footer {
  max-width: $container-width;
  margin: 300px auto 500px;
  padding: 0 15px;
}

.columns {
  display: flex;

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
  }
}

.column {
  font-size: 10px;
  font-weight: 500;
  color: #cbcbcd;
  text-align: justify;
  flex: 1;
  &:last-child {
    margin-left: 30px;
  }

  @media (max-width: $breakpoint-sm) {
    &:last-child {
      margin-left: 0;
    }
  }
}

.links {
  margin: 20px 0 25px;
}

.link {
  color: $color-black;
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.socials {
  margin: 40px 0px;
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #586468;
  border-bottom: 1px solid #586468;
}

.social-link {
  display: flex;
  align-items: center;
  margin: 10px 30px;

  @media (max-width: $breakpoint-sm) {
  }
}
