@import '../../styles/variables.scss';

.footer {
  max-width: $container-width;
  margin: 300px auto 500px;
  padding: 0 60px;
}

.columns {
  display: flex;
}

.column {
  font-size: 12px;
  font-weight: 500;
  color: #cbcbcd;
  text-align: justify;
  flex: 1;
  &:last-child {
    margin-left: 30px;
  }
}

.links {
  margin: 20px 0 25px;
}

.link {
  color: $color-black;
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.socials {
  margin: 40px 0px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #586468;
  border-bottom: 1px solid #586468;
}

.social-link {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 45px;
  }
}
