@import '../../../styles/variables';

.container {
  margin-top: 150px;
}

.inner {
  padding: 0px 50px 0px 15px;
}

.bars {
  position: relative;
}

.background {
  width: 100%;
  height: 26px;
  background: #1b1b1b;
}

.bar {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  background-image: linear-gradient(to right, #f9d16f 0%, #fbe9b8 100%);
}

.stages {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.stage {
  width: 250px;
  position: relative;
}

.stage-indicator {
  position: absolute;
  top: -70px;
  left: 2px;
  width: 5px;
  height: 60px;
  background: $color-white;
}

.stage-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.stage-content {
  text-align: justify;
  font-size: 14px;
}
